S3method(print, ishihara)
S3method(plot, ishihara)

export(plot.ishihara, print.ishihara)

importFrom(graphics, plot.new, plot.window, symbols, par, box)
importFrom(methods, hasArg)
importFrom(phytools, make.transparent)
